<ion-header>
    <ion-toolbar>
      <ion-title>Detalles del Pedido</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card *ngIf="retiro">
      <ion-card-header>
        <ion-card-title></ion-card-title>
        <ion-card-subtitle>Dirección retiro:  </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        Cliente: {{retiro.nombre_cliente}}<br>
        ID: {{retiro.id}} <br>
        Bultos: {{retiro.numero_bultos}}<br>
        Hora retiro: {{horaCarga}} <br>
        Estado: {{retiro.estado_pedido}}
      </ion-card-content>
      <ion-footer>
        <ion-button fill="clear"  class="realizar-retiro-button" (click)="marcarComoRetirado()">Realizar Retiro</ion-button>
      </ion-footer>
    </ion-card>
  </ion-content>

  <ion-footer>
    <ion-button fill="clear" (click)="volverPaginaAnterior()" class="volver-button">Volver</ion-button>
  </ion-footer>