.estadisticas-card {
    background-color: #f03b31;
    padding: 0.1rem 0rem;
    color: white !important;
    border-radius: 0.3rem;
    margin-bottom:1rem;
}

.estadisticas-card p {
    color:white!important;
}