<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="grafico">
    <div class="image">
      <ion-img src="assets/img/grafico.png"></ion-img>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3>Retiros pendientes</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3>Retiros Realizados</h3>
    </div>
  </div>
  
  <div class="card">
    <div class="card-content">
      <h3>Entregas pendientes</h3>
    </div>
  </div>
  
  <div class="card">
    <div class="card-content">
      <h3>Entregas realizadas</h3>
    </div>
  </div>  
</ion-content>