<ion-header >
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="grafico">
    <div class="image">
      <ion-img src="assets/img/grafico.png"></ion-img>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3>Retiros pendientes: 0</h3>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <h3>Retiros Realizados: 0</h3>
    </div>
  </div>
  
  <div class="card">
    <div class="card-content">
      <h3>Entregas pendientes: 0</h3>
    </div>
  </div>
  
  <div class="card">
    <div class="card-content">
      <h3>Entregas realizadas: 0</h3>
    </div>
  </div>  
</ion-content>