ion-content{

    .grafico{
        .image {
            display: block;
            width: 30%;
            margin: auto;
            padding-top: 2rem;
            padding-bottom: 2rem;
           }
    }

    .card {
        color: #fff;
        width: 80%;
        padding:10px;
        margin: auto;
        background: #ff6624;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 1.0rem;
    }
}