<ion-header>
  <ion-toolbar>
    <ion-title>Detalle de Entrega</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información de la Entrega</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Nombre del Cliente:</strong> </p>
      <p><strong>ID de Entrega:</strong> </p>
      <p><strong>Dirección:</strong> </p>
      <p><strong>Cantidad de Bultos:</strong></p>
    </ion-card-content>
  </ion-card>

  <ion-button >Confirmar Entrega</ion-button>

  <div class="button-container">
    <ion-button >Llamar</ion-button>
    <ion-button >WhatsApp</ion-button>
    <ion-button >Mapa</ion-button>
  </div>
</ion-content>