<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Detalle Entregas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="background-color: black;">
    <ion-card-content>
      <div>
      <p><strong>Nombre del Cliente:</strong> </p>
    </div>
    <div>
      <p><strong>ID de Entrega:</strong> </p>
    </div>
      <p><strong>Dirección:</strong> </p>
      <div>
      <p><strong>Cantidad de Bultos:</strong></p>
    </div>
      <ion-label class="label-inline">Estado:</ion-label>
      <ion-select class="select-inline">
        <ion-select-option value="en-retiro">En Retiro</ion-select-option>
        <ion-select-option value="en-ruta">En Ruta</ion-select-option>
        <ion-select-option value="entregado">Entregado</ion-select-option>
      </ion-select>
    </ion-card-content>
  </ion-card>

  <div class="button-container">
    <ion-button >Llamar</ion-button>
    <ion-button >WhatsApp</ion-button>
    <ion-button >Mapa</ion-button>
  </div>

  <div class="button-confirmar">
  <ion-button [routerLink]="['/tabs/confirmacion-entrega']">Confirmar Entrega</ion-button>
</div>

</ion-content>