.cuadro {
    background-color: #000000; /* Color de fondo del cuadro */
    
  }

.card-content{
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background-color: #000000; /* Color de fondo del cuadro */
    color: white;
}
