<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Entrega</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>

    <div class="cuadro">
      <ion-card class="card-content" [routerLink]="['/tabs/detalle-entrega']" (click)="goToDetalleEntregaPage(entrega)">
        <ion-card-content>
          <p>ID : {{entrega.id}}</p>
          <p>Dirección : {{entrega.direccion}}</p>
          <p>Comuna : {{entrega.comuna}}</p>
          <p>Nombre Cliente : {{entrega.nombre_cliente}}</p>
          <p>Estado : {{entrega.estado}}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>

  