<ion-header>
  <ion-toolbar>
    <ion-title>Entrega</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>

    <div class="cuadro" *ngFor="let entrega of entregas" [class.retirado]="entrega.estado_pedido === 'Retirado'" [class.entregado]="entrega.estado_pedido === 'Entregado'"
    [class.ruta]="entrega.estado_pedido === 'En ruta'">
      <ion-card class="card-content" [routerLink]="['/tabs/detalle-entrega',entrega.id]">
        <ion-card-content>
          <ion-card-title>ID : {{entrega.id}} </ion-card-title>
          <ion-card-subtitle> Dirección : {{entrega.direccion}}, {{entrega.comuna}}</ion-card-subtitle>
          <p>Nombre Cliente : {{entrega.nombre_cliente}}</p>
          <p>Estado : {{entrega.estado_pedido}}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>

  