<ion-header>
  <ion-toolbar>
    <ion-title>Retiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Card contenedora-->
  <ion-card *ngFor="let r of retiros">
    <ion-card-header>
      <ion-card-title>{{r.nombre_tienda}}</ion-card-title>
      <ion-card-subtitle>Dirección retiro: {{r.direccion_tienda}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
    Pedidos a retirar: {{r.numero_bultos}}
    </ion-card-content>
  
    <ion-footer>
      <ion-button fill="clear" class="abrir-button" [routerLink]="['/tabs/detalles-pedido']" (click)="goToDetalleEntregaPage(r)">Abrir</ion-button>
    </ion-footer>

  </ion-card>

</ion-content>
