<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Retiro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">retiro</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Card contenedora-->

  <ion-card>
    <ion-card-header>
      <ion-card-title>PC Factory</ion-card-title>
      <ion-card-subtitle>Dirección retiro:</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
    Pedidos a retirar:
    </ion-card-content>
  
    <ion-footer>
      <ion-button fill="clear" (click)="abrirDetallesPedido()" class="abrir-button">Abrir</ion-button>
    </ion-footer>    

  </ion-card>

</ion-content>
