<app-header></app-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Confirmación de Entrega</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">RUT</ion-label>
    <ion-input type="text" [(ngModel)]="rut"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-button expand="full" >Confirmación con Foto</ion-button>
  <ion-button expand="full" >Confirmar</ion-button>
</ion-content>