
/* Estilo para el contenido */
ion-content {
  --ion-background-color: #f4f4f4; /* Color de fondo del contenido */
}

/* Estilo para los campos de entrada */
ion-input {
  border: 1px solid #ccc; /* Borde de los campos de entrada */
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 15px; /* Espacio entre campos de entrada */
  margin-top: 30px;
}

/* Estilo para el botón de registro */
ion-button {
  --background: #ff6624; /* Color de fondo del botón */
  --color: #fff; /* Color del texto del botón */
  border-radius: 5px; /* Bordes redondeados */
  font-weight: bold; /* Texto en negrita */
}

/* Estilo para el título de la página */
ion-title {
  font-weight: bold; /* Texto en negrita */
}