/* Estilo para el encabezado */
ion-header {
  background-color: #3880ff; /* Color de fondo del encabezado */
  color: #fff; /* Color del texto en el encabezado */
}

/* Estilo para el contenido */
ion-content {
  --ion-background-color: #f4f4f4; /* Color de fondo del contenido */
  padding: 20px; /* Espaciado interior */
}

/* Estilo para los campos de entrada */
ion-input {
  border: 1px solid #ccc; /* Borde de los campos de entrada */
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 15px; /* Espacio entre campos de entrada */
}

/* Estilo para el botón de registro */
ion-button {
  --background: #3880ff; /* Color de fondo del botón */
  --color: #fff; /* Color del texto del botón */
  border-radius: 5px; /* Bordes redondeados */
  font-weight: bold; /* Texto en negrita */
}

/* Estilo para el título de la página */
ion-title {
  font-weight: bold; /* Texto en negrita */
}