<ion-content [fullscreen]="true" style="--background:#252525">

  <div class="contenedor">
    <h1 id="titulo">Bienvenido!</h1>
    <h6>Hola! un gusto volver a verte.</h6>
  
    <ion-item class="input-item">
      <ion-input [(ngModel)]="correo" name="correo" label="Correo electronico" labelPlacement="floating" placeholder="example@email.com"></ion-input>
    </ion-item>
  
    <ion-item class="input-item">
      <ion-input [(ngModel)]="contrasena" name="contrasena" class="has-right-icon-input" type="{{ (contrasenaVisible ? 'text' : 'password') }}" label="Contraseña" labelPlacement="floating" placeholder="******">
      </ion-input>
      <ion-icon (click)="showContrasena(true)" class="right-icon-input" *ngIf="!contrasenaVisible" name="eye"></ion-icon>
      <ion-icon (click)="showContrasena(false)" class="right-icon-input" *ngIf="contrasenaVisible" name="eye-off"></ion-icon>
    </ion-item>
  
    <ion-button routerLink="/tabs" class="w-100" style="margin-top:2rem;">Ingresar</ion-button>

    <p class="w-100 text-align-center" style="margin-top:2rem;">Olvidaste tu contraseña?</p>

    <p routerLink="/register" class="w-100 text-align-center" style="margin-top:1rem;color:#f03b31!important">Crea un usuario</p>
  
    <div class="d-flex" style="margin-top:2rem;">
      <div style="margin:auto;">
        <ion-icon class="icon-redsocial" name="logo-twitter"></ion-icon>
      </div>
      <div style="margin:auto;">
        <ion-icon class="icon-redsocial" name="logo-facebook"></ion-icon>
      </div>
    </div>
  </div>
  
</ion-content>
