<ion-header>
  <ion-toolbar>
    <ion-title>Detalles del Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ pedidoInfo.nombreTienda }}</ion-card-title>
      <ion-card-subtitle>Dirección retiro: {{ pedidoInfo.direccionRetiro }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Cliente: {{ pedidoInfo.cliente }}<br>
      ID: {{ pedidoInfo.id }}<br>
      Bultos: {{ pedidoInfo.bultos }}
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-button expand="full">Volver</ion-button>
  </ion-footer>

</ion-content>
